/**
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
**/

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border: 1px solid grey; /*use this to see where evrything starts and stops*/
  }

  html{
    font-size:62.5%;
  }

  body{
    line-height:2;
    font-size:1.6rem;
    font-family: 'Roboto Mono', monospace;

  }

a {
    text-decoration: none; /*removes underline from links*/
    color: #4f4f4f;
  }

nav{
    text-align: center;
    /* margin: 5% auto; */
    width: 100%;
  }

nav a{
    display: inline-block;
    font-size: 2rem;
    margin: 5% 10%;
    padding: 0 1%;
    width: 180px;
    border-radius: 12px;
    color: white;
  }

.plan{
    background-color: #FF764E;
    
}

.learn{
    background-color: #5ED3EB;
}

.involve{
    background-color:#FFCD69;

}

.header-image{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin: 2%;
    display: inline-block;
}

.header-text h1{
    
    text-align: center center;
    width: 49%;
    margin: 5%;
}

h1{
    font-family: 'Chelsea Market', cursive;
  }

#middle-body .text{
    background-color: #DDB9A3;
    color: white;
    text-align: center;
    width: 90%;
    margin: 2% auto;
    font-size: 2.6rem;
}

#info{
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

#info .content span{
    font-weight: 900;
}

.fire{
    margin: auto;
    height: 75%;
    width: 75%;
}

.rv{
    margin: auto;
    height: 75%;
    width: 75%;
}

  footer img{
      background-size: cover;
  }

  footer nav{
      background-color: #F9E7DC;
  }